body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(219, 204, 204);
}

.titulo{
  color: white;
}

.navbar{
  background-color: rgb(238, 67, 67);
  box-shadow: 1px 2px 5px 5px  #001d18f5; 
  margin-bottom: 10px;
}

.subtitulo{
  color: whitesmoke;
  justify-content: center;
  font-size: 20px;
}


.pagina{
  margin-top: 15px;
  text-align: center;
 
}

.marca{
  margin-top: 25px;
  margin-left: 25px;
}


.carrito{
  color: white;
  font-size: 50px;
  margin-right: 35px;
}

.img-logo{
  margin-left: 15px;
}


.imagen-container{
  justify-content: center;
  gap: 2rem;
  margin: 60px;
  display: inline-block;
  background-color: rgb(236, 75, 75);
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 125px;
  
}

.imagen-zapas{
display: flex;
border-radius: 15px;
border: 10px black;

}

.imagen-titulo{
    margin-left: 25px;
    color: white;
    margin-top: 5px;
}

.boton{
  margin-top: 10px;
  margin-left: 18px;
}

.zapas{
  border-radius: 15px;
}



.promo-container{
  background-color: rgb(221, 152, 113);
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 15px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  margin-left: 450px;

}

.promos{
  border-radius: 15px;
}

.comprar-edicion{
  margin-left:150px;
}
.titulo-vans{
  font-size: 25px;
}

.ver-mas{
  margin-bottom: 10px;
  margin-left: 25px;
}

.suma{
  margin-left: 15px;
}

.carritoo{
  text-align: center;
  align-items: center;
}

.boton-detalle{
  margin-left: 20px;
}

.loading{
  text-align: center;
  margin-top: 250px;
}

.cart{
  margin-left: 15px;
  display: inline-grid;

}

.boton-compra{
  margin-top: 15px;
}