body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo{
  color: white;
}

.navbar{
  background-color: rgb(248, 37, 37);
  box-shadow: 1px 2px 5px 5px  #001d18f5; 
  
}

.subtitulo{
  margin: 15px;
  color: whitesmoke;
  justify-content: center;
}


.pagina{
  margin-top: 15px;
  text-align: center;
}

.marca{
  margin-top: 25px;
  margin-left: 25px;
}


.carrito{
  color: white;
  font-size: 50px;
  margin-right: 35px;
}

.img-logo{
  margin-left: 15px;
}


.imagen-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 45px;
  display: inline-block;
  
}

.imagen-zapas{
display: flex;
border-radius: 15px;
border: 10px black;

}

.imagen-titulo{
    margin-left: 25px;
}

.boton{
  margin-top: 10px;
}

.zapas{
  border-radius: 15px;
}